@model SGPI.Models.Usuario;

@{
    ViewData["Title"] = "BuscarUsuario";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/*body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.search{
            float:left;
            margin:auto ;
  
        }

.table{
    width: auto;
    border: solid #000;
}
.tr{
    width: auto;
    text-align: left;
    vertical-align: top;
    border: solid #000;

}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;

  
}*/
</style>
</head>
<body>

    <h2 class="text-center">Buscar usuario</h2>

    <form asp-action="BuscarUsuario" method="post" class="my-3">

        <div class="row g-3 align-items-center">
            <div class="col-auto pr-1">
                <input asp-for="Documento" type="text" value="" class="form-control">
            </div>
            <div class="col-auto p-1">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-auto p-1">
                <a asp-controller="Admin" asp-action="BuscarUsuario" class="btn btn-danger">Cancelar</a>
            </div>
        </div>

    </form>
    @if(Model.IdUsuario != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Tipo de documento</th>
                    <th>Numero documento</th>
                    <th>Programa</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelItem => modelItem.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => modelItem.Apellido)</td>
                    <td>@Html.DisplayFor(modelItem => modelItem.IdTipoDocumento)</td>
                    <td>@Html.DisplayFor(modelItem => modelItem.Documento)</td>
                    <td>@Html.DisplayFor(modelItem => modelItem.ProgramaUsuarios)</td>
                    <td>@Html.DisplayFor(modelItem => modelItem.IdRol)</td>
                    <td>
                        @Html.ActionLink("Editar", "EditarUsuario", new {Idusuario = Model.IdUsuario}, new {@class="btn btn-warning"})
                        @Html.ActionLink("Eliminar", "Eliminar", new {Idusuario = Model.IdUsuario}, new {onclick = "return confirm('¿Esta seguro?')", @class="btn btn-danger"})
                    </td>
                </tr>
            </tbody>
        </table>
    }
</body>
</html>


