@model SGPI.Models.Usuario;

@{
    ViewData["Title"] = "CoordinadorConsulta";
}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.search{
     width: auto;
            float:left;
            margin:auto ;
  
        }

.table{
    width: auto;
    border: solid #000;
}
.tr{
    width: auto;
    text-align: left;
    vertical-align: top;
    border: solid #000;

}
.label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.input {
    width: auto;
    height: auto;
    padding: 0;
    margin:0;
    position: relative;
}


}


</style>
</head>
<body>

<center>
    <h2>Consulta</h2> </center>

    <form asp-action="CoordinadorConsulta" method="post">

          <p>
           <label class="label" for="search"><b>Buscar por documento de estudiante</b></label>
           <input asp-for="Documento" type="text" value="" class="form-control">

            <button type="submit" class="btn btn-primary">Buscar</button>
             <label class="label" for="programa"><b>Elegir por programa</b></label>
              @Html.DropDownList("IdPrograma", new SelectList(ViewBag.programa, "IdPrograma", "Programa1"))
          </p>

    </form>
<table class="table" style="">
<tr class="tr">
  <td><strong>Nombre</strong></td>
  <td><strong>Numero documento</strong></td>
  <td><strong>Programa</strong></td>
  
  <td><strong>email</strong></td>
  <td><strong>Telefono</strong></td>
   <td><strong>Valor pagado</strong></td>
  <td><strong>Fecha pago</strong></td>
  <td><strong>Estado</strong></td>
  <td><strong>Opcion</strong></td>
 
</tr>

    <tr>
        <td>@Html.DisplayFor(modelItem => modelItem.Nombre)</td>
        <td>@Html.DisplayFor(modelItem => modelItem.Apellido)</td>
        <td>@Html.DisplayFor(modelItem => modelItem.IdTipoDocumento)</td>
        <td>@Html.DisplayFor(modelItem => modelItem.Documento)</td>
        <td>@Html.DisplayFor(modelItem => modelItem.ProgramaUsuarios)</td>
        <td>@Html.DisplayFor(modelItem => modelItem.IdRol)</td>
        <td>
            
        </td>
    </tr>


</table>


</body>
</html>


